.form-terms {
	color: var(--color-brand-grey);
	margin: 0 auto;
	max-width: 210px;
	font-weight: 500;
	font-size: 12px;
	text-align: center;
	&__link {
		color: var(--color-brand-grey);
		text-underline-offset: 2px;
	}
}
